.whiteColorScheme {
  background-color: #fff;
  color: #97455f;
}

.grayColorScheme {
  background-color: #ebebeb;
  color: #333;
}

.purpleColorScheme {
  background-color: #97455f;
  color: #fff
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 12px;
  font-family: "Georgia", "Arial", sans-serif;
  color: rgb(151, 69, 95);
  line-height: 1.2;
  text-align: left;
}

.quick-links-block {
  min-height: 39px;
  padding: 10px 20px;
  border-bottom: 2px solid rgb(151, 69, 95);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 508px) {
  .quick-links-block {
    justify-content: center;
  }
}

.social-buttons {
  .whiteColorScheme;

  a {
    display: inline-block;
    margin-right: 12px;
    padding-left: 7px;
    line-height: 27px;
    background-color: gray;
    color: white;
    font-size: 17px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  a:nth-child(3) {
    font-weight: 700;
  }

  a:hover {
    background-color: #ee802f;
  }
}

.links {
  a {
    display: inline-block;
    border-right: 1px solid rgb(151, 69, 95);
    margin-top: 10px;
    padding-right: 5px;
    text-decoration: none;
    color: rgb(151, 69, 95);
    font-size: 12px;
    line-height: 12px;
  }

  a:last-child {
    border-right: none;
  }

  a:hover {
    background-color: #ee802f;
    color: white;
  }
}

header {
  padding: 0 0 0 20px;
  margin-top: 0;
  .grayColorScheme;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    //filter: opacity(50%) grayscale(80%);
    width: 80px;
    margin-right: 25px;
  }

  @media (max-width: 550px) {
    img {
      display: none;
    }
  }

  div:first-child {
    padding: 15px 0;
    font-size: 40px;
    color: gray;
    line-height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    p {
      padding-top: 20px;
    }

    @media (max-width: 453px) {
      line-height: 1.5;
      padding: 0;
      margin: 0;
      text-align: center;
      width: 100%;
    }
  }

  form {
    min-height: 100px;
    width: 292px;
    position: relative;

    .close-btn {
      width: 30px;
      height: 30px;
      .purpleColorScheme;
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      line-height: 10px;
    }

    input[type="text"] {
      height: 34px;
      width: 211px;
      border: 1px solid #fff;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background-color: #fff;
      position: absolute;
      top: 58px;
      left: 0;
      padding-left: 5px;
    }

    input[type="submit"] {
      .purpleColorScheme;
      height: 34px;
      width: 82px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid rgb(151, 69, 95);
      position: absolute;
      top: 58px;
      left: 210px;
      padding-left: 5px;
    }
  }

  @media (max-width: 453px) {
    display: none;
  }
}

//Блок навигации
nav {
  margin: 0 20px;
  padding: 0;
  min-height: 50px;
  .purpleColorScheme;

  ul {
    display: block;
    margin: 0;
    padding: 0 20px 0 0;
  }

  li {
    display: inline-block;
    padding: 0 2px;
  }

  @media (max-width: 492px) {
    ul {
      padding: 0;
    }

    li {
      display: block;
      text-align: center;
      border-bottom: 1px solid pink;
    }
  }

  li a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 0 15px;
  }

  li a:hover {
    background-color: #6a3144;
    text-decoration: none;
    color: #fff;
  }
}

main {
  margin: 0 20px;
  padding: 30px;

  @media (max-width: 804px) {
    padding: 30px 0;
  }
}


//Сетка для статей
.annotation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @media (min-width: 558px) and (max-width: 804px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @media (max-width: 557px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  section {
    display: flex;

    img {
      width: 64px;
      height: 69px;
      padding-top: 5px;
      filter: opacity(75%);
    }
  }
}

.titled-container {
  margin-top: 25px;
  border-top: 4px solid #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    display: inline-block;
    text-align: center;
    margin-top: -10px;
    padding: 0 10px 25px 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    background-color: #fff;
    font-weight: 700;
  }
}

.tc-reduced {
  margin-left: 5px;
  margin-right: 5px;
}

article {
  height: 100%;
  padding: 0 10px;

  p {
    font-size: 13px;
    color: rgb(153, 153, 153);
    line-height: 1.4;
    text-align: left;
    min-height: 50px;
  }
}

.article-red-header {
  font-size: 16px;
  color: rgb(151, 69, 95);
  line-height: 1.4;
  text-align: left;
}

section:hover {
  background-color: #eee;

  img {
    filter: none;
  }
}

.shout {
  .purpleColorScheme;

  grid-column: 1 / span 2;
  grid-row: 2;

  @media (max-width: 896px) {
    grid-column: 1;
    grid-row: 3;
  }

  @media (max-width: 866px) {
    justify-content: center;
  }

  min-height: 105px;
  border-radius: 7px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  div {
    margin: 21px 32px;
  }

  p {
    font-size: 18px;
    color: rgb(229, 229, 229);
    line-height: 1.2;
    text-align: left;
  }

  h2 {
    color: #fff;
    margin-bottom: 0;
  }
}

.big-white-button {
  display: block;
  .whiteColorScheme;
  border-radius: 10px;
  padding: 16px 12px;
  height: 64px;
  font-size: 26px;
  color: rgb(151, 69, 95);
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.big-white-button:hover {
  background-color: #ee802f;
  color: #fff;
  text-decoration: none;
}

footer {
  .grayColorScheme;
  border-top: 5px solid #d2d2d2;
}

.footer-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  @media (min-width: 455px) and (max-width: 866px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (max-width: 454px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.footer-title {
  font-size: 16px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-transform: capitalize;
  padding: 41px 0px 25px 0px;
}

.footer-article-block {
  margin: 0;
  padding: 0 0 0 25px;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (max-width: 454px) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  img {
    width: 95px;
    height: 95px;
    float: left;
    margin-right: 25px;
  }

  p {
    font-size: 13px;
    color: rgb(153, 153, 153);
    line-height: 1.4;
    text-align: left;
    min-height: 50px;
  }
}

.company-details {

  padding: 5px 25px 25px 25px;
  font-size: 12px;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;

  a {
    text-decoration: none;
    color: rgb(151, 69, 95);
  }

  a:hover {
    text-decoration: none;
    color: #ee802f;
  }
}

.feedback {


  @media (max-width: 454px) {
    padding-left: 25px;
  }

  input,
  textarea {
    background-color: #fff;
    color: rgb(153, 153, 153);
    border-radius: 7px;
    width: calc(100% - 10px);
    min-height: 36px;
    max-height: 108px;
    margin: 6px 0;
    border: 1px solid #fff;
    padding: 0 5px;

  }

  button {
    .purpleColorScheme;
    width: 78px;
    height: 31px;
    margin: 6px 0;
    text-transform: uppercase;
    border-radius: 7px;
    border: none;
  }

  button:hover {
    background-color: #ee802f;
    color: #fff;
  }
}

.copyright-band {
  border-top: 1px solid darkgray;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: rgb(153, 153, 153);
  line-height: 1.6;

  p {
    margin: 0;
    padding: 0;
  }
}

.pop-up-window {
  position: fixed;
  //display: none;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  z-index: 10;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 38px 11px 19px 0px rgba(50, 50, 50, 0.99);

  @media (max-width: 582px) {
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
  }
}

.invisible {
  display: none;
}

.gallery {


  &__navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    width: 100%;
  }

  &__btn {
    .purpleColorScheme;
    width: 150px;
    height: 31px;
    margin: 6px 0;
    text-transform: uppercase;
    border-radius: 7px;
    border: none;
  }

  &__btn:hover {
    background-color: #ee802f;
    color: #fff;
  }

  &__itemCnr {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

  &__item {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(143, 139, 143, 0.5);
    -moz-box-shadow: 10px 10px 5px 0px rgba(143, 139, 143, 0.5);
    box-shadow: 10px 10px 5px 0px rgba(143, 139, 143, 0.5);
    overflow: hidden;


    img {
      max-height: 148px;
      object-fit: cover;
      opacity: 0.75;

    }

    img:hover {
      outline: 1px solid orange;
      opacity: 1;
    }


  }

  &__item:hover {
    border: 1px solid orange;
  }

}